@media screen and (min-width:90em){body{font-size:1.0em}}
@media screen and (min-width:94.5em){body{font-size:1.1em}}
@media screen and (min-width:103.5625em){body{font-size:1.2em}}
@media screen and (min-width:112.5em){body{font-size:1.3em}}
@media screen and (min-width:121.5em){body{font-size:1.4em}}
@media screen and (min-width:130.5625em){body{font-size:1.5em}}
@media screen and (min-width:139.5em){body{font-size:1.6em}}
@media screen and (min-width:148.5625em){body{font-size:1.7em}}
@media screen and (min-width:157.5em){body{font-size:1.8em}}
@media screen and (min-width:166.5em){body{font-size:1.9em}}
@media screen and (min-width:175.5625em){body{font-size:2.0em}}
@media screen and (min-width:184.5625em){body{font-size:2.1em}}
@media screen and (min-width:193.5625em){body{font-size:2.2em}}
@media screen and (min-width:202.5em){body{font-size:2.3em}}
@media screen and (min-width:211.5em){body{font-size:2.4em}}
@media screen and (min-width:220.5em){body{font-size:2.5em}}
@media screen and (min-width:229.5625em){body{font-size:2.6em}}
@media screen and (min-width:238.5625em){body{font-size:2.7em}}
@media screen and (min-width:247.5em){body{font-size:2.8em}}
@media screen and (min-width:256.5em){body{font-size:2.9em}}
@media screen and (min-width:265.5em){body{font-size:3.0em}}
@media screen and (min-width:274.5625em){body{font-size:3.1em}}
@media screen and (min-width:283.5625em){body{font-size:3.2em}}
@media screen and (min-width:292.5em){body{font-size:3.3em}}
@media screen and (min-width:301.5em){body{font-size:3.4em}}
@media screen and (min-width:310.5em){body{font-size:3.5em}}
@media screen and (min-width:319.5625em){body{font-size:3.6em}}
@media screen and (min-width:328.5625em){body{font-size:3.7em}}
@media screen and (min-width:337.5em){body{font-size:3.8em}}
@media screen and (min-width:346.5em){body{font-size:3.9em}}
@media screen and (min-width:355.5em){body{font-size:4.0em}}
@media screen and (min-width:364.5625em){body{font-size:4.1em}}
@media screen and (min-width:373.5em){body{font-size:4.2em}}
@media screen and (min-width:382.5em){body{font-size:4.3em}}
@media screen and (min-width:391.5625em){body{font-size:4.4em}}
@media screen and (min-width:400.5em){body{font-size:4.5em}}
@media screen and (min-width:409.5625em){body{font-size:4.6em}}
@media screen and (min-width:418.5em){body{font-size:4.7em}}
@media screen and (min-width:427.5em){body{font-size:4.8em}}
@media screen and (min-width:436.5625em){body{font-size:4.9em}}
@media screen and (min-width:445.5em){body{font-size:5.0em}}
@media screen and (min-width:454.5625em){body{font-size:5.1em}}
@media screen and (min-width:463.5em){body{font-size:5.2em}}
@media screen and (min-width:472.5em){body{font-size:5.3em}}
@media screen and (min-width:481.5625em){body{font-size:5.4em}}
@media screen and (min-width:490.5em){body{font-size:5.5em}}
@media screen and (min-width:499.5625em){body{font-size:5.6em}}
